<h1>Nick Cave</h1>
<h2>From the edge and back</h2>

<img src="/Photos Nick Cave site/Nick-Cave-cool-picA.avif" alt="Young Nick Cave">

<img src="/Photos Nick Cave site/nick-cave-cool-picB.webp" alt="Nick Cave b&w with hair combed back">

<img src="/Photos Nick Cave site/nick-cave-cool-pic1.jpg" alt="Nick Cave with sunglasses">

<img src="/Photos Nick Cave site/nick-cave&the-bad-seeds.jpg" alt="with the Bad Seeds">

<img src="/Photos Nick Cave site/Nick-Cave-on-stage1.jpg" alt="on stage quiet">

<img src="/Photos Nick Cave site/Nick-Cave-on-stage2better.webp" alt="on stage arms spread">

<img src="/Photos Nick Cave site/Nick-Cave-on-stage3.png" alt="on stage kicking">



