<h1>Selected discography</h1>

<h2>THE FIRST CLASSICS</h2>
<img src="/Photos Nick Cave site/Fromhertoeternitybetterversion.jpg" alt="From Her To Eternety">
<img src="/Photos Nick Cave site/Tender Prey.jpeg" alt="Tender Prey">

<h2>THE GOLDEN AGE</h2>
<img src="/Photos Nick Cave site/The-Good-Son.jpg" alt="The Good Son">
<img src="/Photos Nick Cave site/Henry's-Dream.jpeg" alt="Henry's Dream">

<h2>THE REBIRTH</h2>
<img src="/Photos Nick Cave site/No_more_shall_we_part_cover.jpg" alt="No More Shall We Part">
<img src="/Photos Nick Cave site/Abattoir_blues_cover.jpg" alt="Abattoir Blues">
<img src="/Photos Nick Cave site/Lyre-of-Orpheus-cover.jpeg" alt="Lyre of Orpheus">

<h2>STILL GOING AT IT</h2>
<img src="/Photos Nick Cave site/Push the sky away.jpg" alt="Push the Sky Away">
<img src="/Photos Nick Cave site/Carnage_Nick_Cave_&_Warren_Ellis_album_cover.svg.png" alt="Carnage"
>