<h1>Gallery</h1>
<h2>Nick Cave through styles, through the ages, from the 80's until 2020</h2>
<img src="/Photos Nick Cave site/Nick Cave 2.png" alt="Young Nick Cave">
<img src="/Photos Nick Cave site/Nick Cave 3.jpg" alt="Nick Cave on stage">
<img src="/Photos Nick Cave site/Nick Cave 4.jpg" alt="Middle aged Nick Cave with a moustache">


<h2>Nick Cave with his musical partners</h2>
<img src="/Photos Nick Cave site/Nick Cave & Mick Harvey.jpg" alt="with Mick Harvey">
<img src="/Photos Nick Cave site/Nick Cave & Blixa.jpeg" alt="with Blixa Bargeld">
<img src="/Photos Nick Cave site/nick-cave-et-warren-ellis.jpg" alt="with Warren Ellis">
<img src="/Photos Nick Cave site/Nick-Cave-Warren-Ellis-2.jpeg" alt="with Warren Ellis laughing">

<h2>Nick Cave and once in a lifetime collaborators</h2>
<img src="/Photos Nick Cave site/nick-cave-pj-harvey.jpg" alt="with PJ Harvey">
<img src="/Photos Nick Cave site/Nick Cave & Kylie.jpeg" alt="with Kylie Minogue">