
<main>
    <h1>Welcome to Nick's Cave</h1>
    <h2>Home of the last great songwriter</h2>
    <p>
            Since the late '70s, Australian singer and songwriter Nick Cave has proved to be one of the most enduring talents 
            to emerge from the post-punk era. A remarkably consistent recording artist, his songs have been covered by many artists, 
            from PJ Harvey, and Johnny Cash to Arctic Monkeys and Metallica, to name a few. However, his often dramatic, romantic, 
            harrowing tomes sound best on his own recordings. Accompanied by his ubiquitous backing band the Bad Seeds, Cave's style 
            is inimitable as it ranges across a spectrum that includes noisy, clattering, yet extremely musical rock, as well as 
            striking romantic balladry and broken blues, sometimes all on the same recording. While early albums, melded stomp blues 
            to unhinged, menacing post-punk, later dates tempered his ferocity in favor of moody soundscapes for his bent yet resonant 
            storytelling. Cave and his longtime colleague Warren Ellis (now the musical director the Bad Seeds) are also award-winning 
            film composers with more than a dozen scores to their credit.
    </p>
    <img src="/Photos Nick Cave site/Nick-Cave-telling-stories.jpg" alt="Nick Cave telling stories">
    <img src="/Photos Nick Cave site/Nick-Cave-Writing1.webp" alt="Nick Cave writing in Berlin">
    <img src="/Photos Nick Cave site/Nick-Cave-writing2.jpg" alt="Nick Cave at his typewriter">
    <img src="/Photos Nick Cave site/Nick Cave 5.jpeg" alt="Nick Cave at his piano">
    <img src="/Photos Nick Cave site/Nick-Cave-sitting-armchair.webp" alt="Nick Cave sitting in an armchair">

</main>
